<!DOCTYPE html>
<html>

<head>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <style>

    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
    }

    .fa {
      padding: 20px;
      font-size: 23px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    p {
      text-align: center;

    }
  </style>
</head>

<footer>



  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" >
          <p>Balance App Test </p>
        </div>
      </div>
    </div>
  </div>
</footer>


</html>
